<h2>Test id: <%= params[:test_id] %></h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @questions.each do |question| %>
      <td><%= question.id %></th>
      <td><%= question.body %></th>
      <td><%= link_to "Delete", "/questions/#{question.id}", :method => "delete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
