<h1>Bages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Badge</th>
      <th scope="col">Name</th>
      <th scope="col">Rule</th>
      <th scope="col">My Bage</th>
    </tr>
  </thead>

   <%= render @bages %>

</table>
