<h1><%= t('.header', title: @user_test.test.title) %></h1>

<h2>correct answers</h2>
<% if @user_test.success? %>
  <h2 class="answers-success">
<% else %>
  <h2 class="answers-notsuccess">
<% end %>

<%= @user_test.calculate_results %>%</h2>

<%= link_to 'All tests', tests_path%>
