<h1>Tricky tests</h1>

<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>questions</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <%= render @tests %>

</table>
