<div class="container-fluid bg-light" style="height: 100px; margin-top: 40px;">
  <div class="col">
    <p class="text-black-50">
      <%= now_year %>
      <br>
      <%= github_link('mishin-anton', 'test-guru') %>
      <br>
      <a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
      <br>
      <a href="">Форма обратной связи</a>
    </p>
  </div>
</div>
